#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* litir - stolið með color picker af krakka Kviss 3 - eins og spurningarnar (svarmöguleikar mostly by yours truly) */

:root {
  --primary-color: #fda90b; /*sinnepsgulur*/
  --secondary-color: #01c2ab; /*grænn, til dæmis fyrir rétt svar*/
  --highlight-color: #fddb00; /*æpandi gulur*/
  --neutral-color: #02a2d4; /*blár fyrir svar valmöguleika*/
  --wrong-answer-color: #c74c2b; /*enginn beinlínis rauður utan á kassanum, see if this works*/
  --background-color: #e7e8e0; /*ljósgrár background en einnig letur ef dökkur bakgrunnur*/
  --text-color: #034d7f; /*dökkblár, einnig border*/
}

.spurning-div {
  border: 2px solid var(--neutral-color);
  border-radius: 25px;
  padding: 2rem;
}
.question {
  font-size: 2.5rem;
  font-weight: bold;
}

.option {
  background-color: var(--neutral-color);
  color: black;
  margin-bottom: 1rem;
}
.options {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  justify-self: center;
}

.option:hover {
  background-color: var(--primary-color);
}
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
